
<div *ngIf="usuario">
    <h2><span jhiTranslate="pesquisaApp.usuario.detail.title">Usuario</span> {{usuario.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pesquisaApp.usuario.publicacao">Publicacao</span></dt>
        <dd>
            <span *ngFor="let publicacao of usuario.publicacaos; let last = last">
                <a [routerLink]="['/publicacao-cos-482-g-3', publicacao?.id ]">{{publicacao.id}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'usuario-cos-482-g-3/'+ usuario.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
